body {
  font-family: "Inter", sans-serif;
}

.container {
  width: min(100% - 40px, 1440px);
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #311500;
  padding: 18px 94px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header_ul {
  display: flex;
  column-gap: 36px;
}

.header_li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  color: #dee2eb;
}

.header_li a.active {
  color: #c46a2b;
}

.header_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 12px 18px;
  border-radius: 32px;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.44px;
  text-transform: uppercase;
  background-color: #c46a2b;
  color: #dee2eb;
}

.burger_icon {
  display: none;
  background: none;
  border: none;
  padding: 0;
}

/* Section 1 */
.section1 {
  height: 640px;
  background-image: url("../Images/Cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section1_inner {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.section1a {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.section1_span {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.arrow {
  width: 56px;
  height: 56px;
}

/* Section 2 */
.section2 {
  background-color: #dee2eb;
  padding: 94px 0;
}

.section2_title {
  text-align: center;
  color: #311500;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 56px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background-color: #311500;
  padding: 8px;
}

.card_img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  display: block;
}

.card_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.card_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #c46a2b;
}

.card_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card_icon img {
  width: 27px;
  height: 27px;
}

/* Footer */
.footer {
  background-color: #311500;
  padding: 64px 0;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer_ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer_a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9d9d9;
}

.footer_right {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer_address {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #d9d9d9;
}

.footer_social {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.footer_social img {
  display: block;
}
