@media (max-width: 880px) {
  .header {
    padding: 18px 24px;
  }

  .header_button {
    display: none;
  }

  .burger_icon {
    display: block;
  }

  .section1_inner {
    padding-top: 80px;
  }

  .footer {
    padding: 64px 0;
  }
}
